@model IEnumerable<AjaxLab.Models.Product>

<div class="row">
    <h5>@ViewBag.ResultMsg</h5>
</div>
<br /><br />

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Supplier.CompanyName</td>
            <td>@item.UnitPrice</td>
        </tr>
    }
</table>